<div id="search" class="form-group has-feedback">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
    <span class="fa fa-search form-control-feedback"></span>
</div>