    {% for total in totals %}
	{% if  total.code == "total" %}
    <div class="summary-item">
    <span class="text">{{ total.title }}:</strong></span>
    <span class="price">{{ total.text }}</span>
     </div>
	  {% endif %}
     {% endfor %}	
