.header-mobile {
    display: none;
}
.form-control-feedback{
    cursor: pointer;
}
.screen-overlay {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    will-change: transform, opacity;
    transition: opacity 1.5s ease;
}
.live-search:before {
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    position: absolute;
    height: 0;
    left: 25px;
    top: -8px;
    width: 0;
}
.live-search{
margin-top: 10px !important;
width: 92% !important;
left: 20px !important;
}
@media only screen and (max-width: 767px){
.table-responsive, .table-responsive tbody, .table-responsive th, .table-responsive td, .table-responsive tr {
    display: block;
    width: 100% !important;
}
.botao-seguimento{
     height: 50px !important;
}
.product-thumb{
    min-height: 380px;
    max-height: 500px;
}
.product-thumb h4{
    padding: 10px 5px 0px 5px;
    text-align: center;
    
}
.product-thumb .price{
     padding: 15px;
     margin:0px;    
     text-align: center !important;
}
.cookie .cookie-content{
   width: 100% !important;
   max-width: 100% !important;
   padding-right:0px !important;
}
.cookie .cookie-content a{
   display: inline-block;
    text-decoration: none; 
}
.cookie p{
    width: 95%;
}
.cookie p:after{
    margin: -40px 0 0 0;
} 
.cookie .cookie-content #btn-confirm{
    width: calc(95% - 20px) !important;
    display: inline-block;
    position: relative !important;
    top: 20px;
    margin: 0px 10px 15px 10px;
    
}
    
}
@media (max-width: 1024px){
 .checkout-checkout #header {
    border-bottom: 2px solid #dbdada;
    flex: none;
    height: 60px;
    padding: 15px 0;
    }
 .checkout-checkout #header .logo img {
        height: auto;
        width: 100px;
 }
 .checkout-checkout .checkout-wizard{
     display: none;

 }
 .nav-tabs .nav-item {
    display: flex !important;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }
 .nav-tabs .nav-item .nav-link {
    display: block;
    width: 100%;
  }
 .safe{
    position: relative;
    top: -4px;
    right: 10px; 
 }
.information-contact .card{
    position: relative;
    top: -200px;
    background: transparent;
    border: 0px;
    }
 .information-contact #buttons .btn{
        margin-bottom: 10px;
        background: #fff;
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 20%);
       
 }   
 .information-contact h1{
 font-size: 18px;
 text-align: center;
 }
.header-mobile .live-search {
    width: 100%;
    z-index: 9995;
    padding: 0px !important;
    margin-top: 40px;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 2px #ddd;
      display: none;
}    
.live-search{
    margin-top: 10px !important;
    width: 100% !important;
    left: 0px !important;
}
.live-search ul li .product-name{
    width: 65% !important;
}
.live-search ul li .product-add-cart {
     padding: 0px !important;
}
.screen-overlay {
    width:0%;
    height: 100%;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    opacity:0;
    visibility:hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
    transition:opacity .5s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}
.account-login input[type="password"] {
    width: 310px;
}
.account-login .forgotten-password {
    margin-left: 15px;
}
.empty-cart h2 {
    margin-top: 80px !important;
    width: 100%;
    color: #000;
    display: block;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: -.05em;
    margin-top: 0;
    text-transform: uppercase;
}
.empty-cart {
    display: block;
}
.empty-cart p {
    margin-top: 15px;
}
.empty-cart a {
    background-color: #39bf39;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 120%;
    font-weight: 700;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: background .1s ease-in-out;
}

#menu-mobile{
        position:fixed;
        top:0; 
        left:0;
        box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
        background:#fafafa;
        height:100%;
        -moz-transition:all .4s ease;
        -o-transition:all .4s ease;
        -webkit-transition:all .4s ease;
        transition:all .4s ease;
        will-change:transform;
        backface-visibility:hidden;
    }	
/*menu-mobile*/
.menu-mobile {
    background-color: #fff;
    padding-top: 66px;
}

.menu-mobile .menu {
    display: inline;
    position: relative;
}
.menu-mobile .menu li .sub-menu {
    display: none;
}
.menu-mobile .menu li .sub-menu li.pl10 {
    padding-left: 0 !important;
}
.menu-mobile .menu li .sub-menu li.pl10 a {
    padding-left: 30px !important;
}
.menu-mobile .menu li .sub-menu li a {
    border-top: #e5e5e5 1px solid;
    color: #222;
    display: block;
    height: 50px;
    line-height: 1.4em;
    padding: 15px 0 15px 33px;
    position: relative;
    transition: background 0.1s ease-in-out;
}
.menu-mobile .menu li .sub-menu li a:active {
    background-color: #f2f2f2;
}
.menu-mobile .menu li .sub-menu li a:before {
    color: #ddd;
    content: ">";
    display: inline-block;
    font-size: 220%;
    font-weight: 700;
    position: absolute;
    right: 20px;
    transform: scaleX(0.5);
    transition: color 0.1s ease-in-out;
}
.menu-mobile .menu li .title {
    border-top: #e5e5e5 1px solid;
    color: #222;
    display: block;
    font-size: 120%;
    font-weight: 700;
    height: 55px;
    line-height: 1.4em;
    padding: 15px 0 15px 33px;
    position: relative;
    transition: background 0.1s ease-in-out;
}
.menu-mobile .menu li .title:active {
    background-color: #e5e5e5;
}
.menu-mobile .menu li.active .title {
    background-color: #e5e5e5;
}
.menu-mobile .menu li .title:after {
    background: url(../image/mais.png) 50% 0 no-repeat;
    background-size: 100% auto;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 12px;
    width: 30px;
}
.menu-mobile .menu li.active .title:after {
    background: url(../image/menos.png) 50% 0 no-repeat;
    background-size: 100% auto;
}
.menu-mobile .menu li:first-child .title {
    border-top: none;
}
.header-mobile .content-menu-mobile .item-submenu2 a {
        color: #505050;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: 400;
    }
.header-mobile .content-menu-mobile .item-submenu2 {
        height: 55px;
        display: flex;
        align-items: center;
        border-top: 2px solid #d0d0d0;
        padding-left: 33px;
        font-weight: 300;
        letter-spacing: .4px;
}
 /*fim menu-mobile*/
    .header-mobile ,.header-mobile > header {
        display: block !important;
        z-index: 100;
    position: relative
    }
    /*header-desktop, header, #top, #logo{
        display: none;   
    }*/
    #top-links-center{
        float: none;
    }
    .header-mobile  .live-search{
        margin-top: 10px !important;

    }
    #menu-account-welcome {
        width: 200px;
    }
    header {
        color: #fff;
         top: 0;
        /*height: 130px;
        transform: translate3d(0,0,0);*/
        width: 100%;
        z-index: 300;
    }
    header .header {
        background-color: #1d60bc;
        height: 70px;
        overflow: hidden;
    }
    header .btn-menu {
        position: relative;
        margin-left: -15px;
        padding: 4px 0 0 0;
    }
    .menu-account:before {
        background: url(../image/sprite-icons.png) -100px 0 no-repeat;
        background-size: auto 100%;
        content: "";
        display: block;
        height: 60px;
        left: 0;
        position: absolute;
        top: 4px;
        width: 50px;
    }
    .menu-account {
        color: #fff;
        position: relative;
        top: -10px;
        left: 70px;
    }
    #search{
        position: relative;
        top:-10px;
        left: 30px;
    }
    .bars {
        background-position: 0 0;
        height: 60px;
        width: 50px;
    }

    .bars {
        background-image: url(../image/sprite-icons.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .close-right, .close-left {
        background-image: url(../image/sprite-icons.png);
        background-position: -150px 0;
        height: 60px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: auto 100%;
        display: inline-block;
        vertical-align: middle;
    }
    header .search {
        background-color: #0053a6;
        height: 66px;
        padding: 8px 7px 8px 6px;
        position: relative;
    }
    header .search .form-control{
        border: #e0e0e0 1px solid !important;
        font-size: 110%;
        height: 47px !important;
        background-color: #fff;
        border: none;
        border-radius: 5px !important;
        color: #999;
        font-family: Lato,arial,helvetica,sans-serif;
        outline: 0;
        padding: 10px 15px;
        transition: background .1s ease-in-out,border .1s ease-in-out,color .1s ease-in-out;
        vertical-align: middle;
    }
    .form-control-feedback {
        position: absolute;
        /*top: 0px;
        right: 2px;*/
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #3596e0;
        left: initial;
        font-size: 18px;
    }
.header-cart{
        position: relative !important;
        /*float: right;*/
        height: 50px;
        margin: 6px 0px 0 0 !important;
        width: 50px;
        top: -20px;
    }
    #logo {
        margin: 5px 0 10px 0;
    }
.cart-mini {
        height: 100%;
        overflow: hidden;
        position: relative;
        transition: opacity .1s ease-in-out;
        width: 100%;
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        flex-shrink: 0;
        -webkit-overflow-scrolling: touch;
}
.menu-cart{
    left: 100px;
    position: relative;
}

.cart-totals{
        padding: 20px 0 0 0;    
    }
    #cart-totals p{
        font-size: 130%;
        font-weight: 700;
        text-align: center;
    }
    #cart-totals .checkout{
        background-color: #39bf39;
        border-radius: 5px;
        color: #fff;
        display: block;
        font-size: 120%;
        font-weight: 700;
        margin-top: 15px;
        padding: 15px;
        text-align: center;
        text-transform: uppercase;
    }


}
@media (max-width: 1024px){
    header .logo{
        margin: auto;
        margin-left: 15px;
    margin-right: 30px;
    margin-top: -5px;

}
@media (max-width: 600px){
    header .logo a img {
        width: 150px;
        height: 50px;
        margin-top: 10px;
    }
}
/*canvas*/
.mobile-offcanvas.offcanvas-right {
    right: 0;
    left: auto;
    transform: translateX(100%); 
}
body.offcanvas-active{
    overflow:hidden;
}

.offcanvas-header{ display:none; }

@media all and (max-width:992px) { 

    .offcanvas-header{ display:block; }

    .mobile-offcanvas{
        visibility: hidden;
        transform:translateX(-100%);
        border-radius:0; 
        display:block;
        position: fixed;
        top: 0; left:0;
        height: 100%;
        z-index: 1200;
        width:100%;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        margin-left: 0px;
        padding-left: 0px;
       /* width: 350px;*/
    }

    .mobile-offcanvas.show{
        visibility: visible;
        transform: translateX(0);
    }
}
.mobile-offcanvas #menu-mobile li:first-child a {
    border-top: none;
}
.mobile-offcanvas #menu-mobile li a {
    /*border-top: #e5e5e5 1px solid;*/
    color: #222;
    display: block;
    font-size: 120%;
    font-weight: 700;
    height: 55px;
    line-height: 1.4em;
    padding: 15px;
    position: relative;
    transition: background .1s ease-in-out;
}
.mobile-offcanvas {
    background-color: #fff;
    padding-top: 66px;
}
.offcanvas-header{
    background-color: #1d60bc;   
    height: 66px;
    overflow: hidden;
    position: fixed;
    top: 0;
    transform: translate3d(0,0,0);
    width: 100%;
    z-index: 10; 
}
#top-links ~ #top-links{
    position:relative;
    top:-33px;
}

.product-grid .product-thumb .caption{
    min-height: auto;
}
.buttons-wrapper .other-button{
    display: none;
}
.buttons-wrapper .cart-button{
    width: 100%;

}
}

@media (max-width: 767.98px) { 
    .header-cart{
        position: relative !important;
        float: right;
        height: 50px;
        margin: 6px 0px 0 0 !important;
        width: 50px;
        top: -56px;
    }
    #search {
        position: relative;
        top: -10px;
        left: 0px;
    }
    .menu-cart {
        left: 0px;
        position: relative;
    }
    .menu-account {
        color: #fff;
        padding: 15px 0 0 60px;
        top: 0px;
    left: 0px;
    }
}

