  </main>
<footer>
<div class="footer-bottom-checkout">
      <div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-12 pt-2 ">
            <p>{{ powered }}</p>
    </div>
   <div class="col-lg-7 col-sm-12 ">
    <div class="text-center d-none d-sm-block">
      <span class="selos">Selos de Segurança</span>
      <a href="http://www.siteadvisor.com/sitereport.html?url=feasso.com.br" target="_blank"><img class="img-responsive footer-payment-img float-right" src="./image/McAfee-min.png" alt=""></a>
      <a href="https://safeweb.norton.com/report/show?url=http://www.feasso.com.br/" target="_blank"><img class="img-responsive footer-payment-img float-right" src="./image/norton.png" alt=""></a>
      <a href="https://transparencyreport.google.com/safe-browsing/search?url=https://www.feasso.com.br" target="_blank"><img class="img-responsive footer-payment-img float-right" src="./image/google.png" alt="Google Safe"></a>

    </div>
  </div>
   </div>
   </div>
   </div>
</footer>
</div>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>