<style>
    .sjpdfbutton{
        padding : 0px;
        width: 134px;
        
        color:#ffffff;font-size:15px;
    }
    .sjlink{
        background-color:#040404;
        color:#ffffff !important;
        padding:10px;
    }
    .sjlink:hover{
        background: #1C1C1C !important;
    }
</style>

<div class="sjpdfbutton" style=""> 
<a class="sjlink" href="{{pdffile}}">
Download PDF 
</a>
</div>


