<style>
  @-webkit-keyframes glowing {
  0% { background-color: #b06235; -webkit-box-shadow: 0 0 3px #b06235; }
  50% { background-color: #c3844a; -webkit-box-shadow: 0 0 3px #c3844a; }
  100% { background-color: #d1581f; -webkit-box-shadow: 0 0 3px #35b084; }
}

@-moz-keyframes glowing {
  0% { background-color: #35b084; -moz-box-shadow: 0 0 3px #35b084; }
  50% { background-color: #8BC34A; -moz-box-shadow: 0 0 3px #8BC34A; }
  100% { background-color: #35b084; -moz-box-shadow: 0 0 3px #35b084; }
}

@-o-keyframes glowing {
  0% { background-color: #35b084; box-shadow: 0 0 3px #35b084; }
  50% { background-color: #8BC34A; box-shadow: 0 0 3px #8BC34A; }
  100% { background-color: #35b084; box-shadow: 0 0 3px #35b084; }
}

@keyframes glowing {
  0% { background-color: #35b084; box-shadow: 0 0 3px #35b084; }
  50% { background-color: #8BC34A; box-shadow: 0 0 3px #8BC34A; }
  100% { background-color: #35b084; box-shadow: 0 0 3px #35b084; }
}

.action-menu-icones {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
.action-menu {
    opacity: 1;
    position: fixed;
    top: 20%;
   /* width: 240px;*/
    display: flex;
    justify-content: center;
    z-index: 2;
    padding: 0;
    transition: opacity 0.4s ease;
}
.action-menu.side-menu .action-menu-list {
    width: 80px;
    overflow: unset;
    margin-top: 30px;
}
.action-menu-list {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 65px;
    list-style: none;
    overflow: hidden;
}
.action-menu-icone i{
  font-size: 20px;
  color: #1d60bc;
}
.action-menu-icone {
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 0;
    position: relative;
    transition: all .2s ease;
}
.action-menu.side-menu .action-menu-item:not(.sub-menu) .action-menu-label {
    pointer-events: none;
    background-color: #fcff00;
    position: absolute;
    display: block;
    transform: none;
    border-radius: 5px;
    opacity: 0;
    font-weight: 500;
    padding: 10px 0 5px 8px;
    height: auto;
    font-size: 12px;
    color: #f90202;
    top: unset;
    border: 2px solid #000;
   /* width: 100%;*/
    width:calc(100% + 400px);
    justify-content: center;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    transition: all .2s ease;
    left: 100%;
}
.action-menu-label {
    display: none;
}
.action-menu.side-menu .action-menu-item:not(.sub-menu):hover .action-menu-label {
    opacity: 1;
    left: calc(100% + 10px);
}
.action-menu.side-menu .action-menu-item:not(.sub-menu) .action-menu-label:after {
    content: "";
    border: 7px solid transparent;
    border-right: 10px solid #fcff00;
    border-left: 0;
    position: absolute;
    right: 99.5%;
    filter: drop-shadow(-1px -1px 0px #000) drop-shadow(-1px 1px 0px #000) drop-shadow(-1px 0px 0px #000);
}
.action-menu.side-menu .action-menu-list {
    width: 80px;
    overflow: unset;
    margin-top: 30px;
}
.action-menu.side-menu .action-menu-item {
    height: 50px;
    align-items: center;
    overflow: unset;
    margin: 5px 0;
}
.action-menu-item {
    display: flex;
    justify-content: center;
    color: #8795A2;
    cursor: pointer;
    position: relative;
    margin: 10px 0;
}
</style>

<section class="action-menu side-menu" style="">
  <ul class="action-menu-list">
      <li class="action-menu-item comment-button">
          <span class="action-menu-icone">
            <!--<i class="fas fa-exclamation-circle"></i>-->
            <img src="image/atention.png" class="img-responsive">
          </span>
          <span class="action-menu-label">{{ text_vendedor }}</span>
      </li>
  </ul>
</section>
